<nav class="w-full h-20 font-ubuntu">
  <div class="container mx-auto h-full">
    <nav class="flex items-center justify-between h-full">
      <div class="flex items-center">
        <a href="#">
          <div class="text-2xl font-bold">jack bruzan</div>
          <div class="text-sm font-bold">full stack developer</div>
        </a>
      </div>
      <div class="flex items-center">
        <a href="resume" class=" mr-4 px-2 py-1">resume</a>
        <a href="projects" class=" mr-4 px-2 py-1">projects</a>
      </div>
    </nav>
  </div>
</nav>